@import '../../../node_modules/open-color/open-color.scss';

div.fs-sa aside ul.aside-main-menu li,
ul.aside-main-menu li {
  display: block;
  a span.text {
    display: inline-block;
  }
}
div.fs-sa aside ul.aside-main-menu li.divider,
ul.aside-main-menu li.divider {
  font-size: 80%;
  text-transform: none;
  font-weight: bold;
  padding-left: 1rem;
  color: $oc-gray-6;
}
div.fs-sa aside ul.aside-main-menu li.contrib,
ul.aside-main-menu li.contrib {
  font-size: 90%;
  a { padding: 0; }
}

ul.aside-main-menu li.contrib.contributors a {
  border-left: 25px solid $oc-pink-5;
}
ul.aside-main-menu li.contrib.developers a {
  border-left: 25px solid $oc-teal-5;
}
ul.aside-main-menu li.contrib.editors a {
  border-left: 25px solid $oc-cyan-5;
}
ul.aside-main-menu li.contrib.translators a {
  border-left: 25px solid $oc-yellow-5;
}

.theme-wrapper.dark ul.aside-main-menu li.contrib a svg,
.theme-wrapper.light ul.aside-main-menu li.contrib a svg {
  color: currentColor;
}

div.fs-sa aside ul.aside-main-menu {
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-transform: none;
  }
  ul.level-1 > li,
  ul.level-2 > li,
  ul.level-3 > li,
  ul.level-4 > li,
  ul.level-5 > li {
    padding: 0;
    line-height: 1.5;
  }
  ul.level-1 > li > a,
  ul.level-2 > li > a,
  ul.level-3 > li > a,
  ul.level-4 > li > a {
    padding: 0;
    font-weight: normal;
    text-transform: none;
  }
  ul.level-1 > li > a {
    padding: 0.2rem 2rem;
    font-size: 1.25rem;
  }
  ul.level-2 > li > a {
    padding-left: 3rem;
    font-size: 1.1rem;
    font-weight: bold;
  }
  ul.level-3 > li > a {
    padding-left: 4rem;
    font-size: 1rem;
  }
  ul.level-4 > li > a {
    padding-left: 5rem;
    font-size: 1rem;
  }
  ul.level-2 > li {
  }
  ul.level-3 > li {
  }
  ul.level-4 > li {
  }
}

