@import '../../../node_modules/open-color/open-color.scss';

ul#main-menu.aside-main-menu {
  li {
    display: block;
    a span.text {
      display: inline-block;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-transform: none;
  }
  ul.level-1 > li,
  ul.level-2 > li,
  ul.level-3 > li,
  ul.level-4 > li,
  ul.level-5 > li {
    line-height: 1.5;
  }
  ul.level-1 > li > a,
  ul.level-2 > li > a,
  ul.level-3 > li > a,
  ul.level-4 > li > a {
    padding: 0;
    font-weight: normal;
    text-transform: none;
  }
  ul.level-1 > li > a {
    padding: 0.1rem 0.5rem 0.1rem 2rem;
    font-size: 1.25rem;
  }
  ul.level-2 > li > a {
    padding: 0.3rem 0.5rem 0.3rem 3rem;
    font-size: 1.15rem;
    font-weight: bold;
    line-height: 1;
  }
  ul.level-3 > li > a {
    padding-left: 4rem;
    font-size: 1.1rem;
  }
  ul.level-4 > li > a {
    padding-left: 5rem;
    font-size: 1rem;
  }
  ul.level-2 > li {
  }
  ul.level-3 > li {
  }
  ul.level-4 > li {
  }
}

// Theme overrides
.theme-wrapper.light > div.fs-sa > aside > div.sticky ul li {
  a.active {
    background-color: $oc-gray-3;
  }
  a:hover {
  background-color: $oc-gray-2;
  }
}
.theme-wrapper.dark > div.fs-sa > aside > div.sticky ul li {
  a.active {
    background-color: darken($oc-gray-8, 3);
  }
  a:hover {
  background-color: $oc-gray-8;
  }
}
ul#main-menu.aside-main-menu li a {
  padding: 0.1rem 0;
  text-transform: capitalize;
}
