@import '../../../node_modules/open-color/open-color.scss';

ul.preview-list {
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 1.15;
    span.about {
      display: block;
      font-size: 90%;
      padding-bottom: 1rem;
      margin-left: 1rem;
      font-weight: normal;
    }
  }
  li::before {
    content: '';
    padding: 0 4px;
    border-radius: 4px;
    margin-right: 0.5rem;
  }
  li.contributors::before {
    background: $oc-pink-5;
  }
  li.developers::before {
    background: $oc-teal-5;
  }
  li.editors::before {
    background: $oc-cyan-5;
  }
  li.translators::before {
    background: $oc-yellow-5;
  }
}
