@import '../../../node_modules/open-color/open-color.scss';

div.previews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  div.preview {
    width: calc(25% - 1rem);
    min-width: 300px;
    position: relative;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.25rem;
    overflow: hidden;
    border: 1px solid white;
    background-repeat: no-repeat;
    background-position: bottom right 10px;
    background-size: 50% auto;
    div.body {
      flex-grow: 2;
    }
    div.footer {
      min-height: calc(40px - 1rem);
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      svg {
        width: 32px;
        height: 32px;
        margin: 0.5rem;
        fill: currentColor;
      }
      span.icon {
        display: block;
        margin: 0.5rem;
        svg {
          width: 32px;
          height: 32px;
        }
      }
      span.text {
        display: block;
      }
      img.icon {
        margin: 0 auto;
        width: 32px;
        height: 32px;
        color: white;
      }
    }
    div.body {
      padding: 0 1rem;
      font-size: 95%;
      p {
        margin: 0
      }
    }
    a.cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  div.preview.contributors {
    background-color: $oc-pink-0;
    border-color: $oc-pink-5;
    background-image: url('/splash/contributor.png');
    h5, p {
      text-shadow: 1px  1px 1px $oc-pink-0, -1px  1px 1px $oc-pink-0, 1px -1px 1px $oc-pink-0, -1px -1px 1px $oc-pink-0;
    }
  }
  div.preview.developers {
    background-color: $oc-violet-0;
    border-color: $oc-violet-5;
    background-image: url('/splash/developer.png');
    h5, p {
      text-shadow: 1px  1px 1px $oc-violet-0, -1px  1px 1px $oc-violet-0, 1px -1px 1px $oc-violet-0, -1px -1px 1px $oc-violet-0;
    }
  }
  div.preview.editors div.footer {
    background-color: $oc-cyan-0;
    border-color: $oc-cyan-5;
    background-image: url('/splash/editor.png');
    h5, p {
      text-shadow: 1px  1px 1px $oc-cyan-0, -1px  1px 1px $oc-cyan-0, 1px -1px 1px $oc-cyan-0, -1px -1px 1px $oc-cyan-0;
    }
  }
  div.preview.translators div.footer {
    background-color: $oc-yellow-0;
    border-color: $oc-yellow-5;
    background-image: url('/splash/translator.png');
    h5, p {
      text-shadow: 1px  1px 1px $oc-yellow-0, -1px  1px 1px $oc-yellow-0, 1px -1px 1px $oc-yellow-0, -1px -1px 1px $oc-yellow-0;
    }
  }
}

.theme-wrapper.dark div.previews {
  div.preview.editors,
  div.preview.translators,
  div.preview.contributors,
  div.preview.developers {
    background-color: $oc-gray-9;
    h5, p {
      text-shadow: 1px  1px 1px $oc-gray-9, -1px  1px 1px $oc-gray-9, 1px -1px 1px $oc-gray-9, -1px -1px 1px $oc-gray-9;
    }
  }
}

/* mobile and tablet and slate */
@media (max-width: 1199px) and (min-width: 960px) {
  div.previews > div.preview {
    width: calc(33% - 1rem);
  }
}
/* mobile and tablet */
@media (max-width: 959px) and (min-width: 600px) {
  div.previews > div.preview {
    width: calc(50% - 1rem);
    div.body {
      padding-bottom: 50px;
    }
  }
}

/* mobile */
@media (max-width: 599px) {
  div.previews > div.preview {
    width: calc(100% - 1rem);
    background-size: auto 200px;
    div.body {
      padding-bottom: 50px;
    }
  }
}
